/*                         # Ignore everything at repo root
!/src/                     # Keep src folder
!/src/**                   # Keep contents under src
!.gitignore                # Keep this ignore file
